extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
block main 
    

    +alert-success(5000)

    h1 Danh sách sản phẩm

    .card.mb-3
    .card-header Bộ lọc và Tìm kiếm
    .card-body.combo--button
        .row
            .col-6.button
                +filter-status(filterStatus)

            .col-6
                
                +search(keyword)

    .card.mb-3
    .card-body
        .row 
            .col-8
                +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
            .col-4
                a(
                    href=`${prefixAdmin}/products/create`
                    class="btn btn-outline-success"
                ) + Thêm mới
        table(
            class = " table table-hover table-sm" 
            checkbox-multi 
        )
            thead 
                tr 
                    th 
                        input(type="checkbox" name="checkall")
                    th STT 
                    th Hình ảnh 
                    th Tiêu đề
                    th Giá
                    th Vị trí
                    th Trạng thái 
                    th Hành động
            tbody 
                each item, index in products
                    tr 
                        td 
                            input(
                                type="checkbox"
                                name="id"
                                value=item._id
                            )
                        td #{index+1}
                        td 
                            img(
                                src=item.thumbnail
                                alt="Iphone"
                                width="100px"
                                height="100px"
                            )
                        td #{item.title}
                        td $#{item.price}
                        td
                            input(
                                type="number"
                                value=item.position
                                style="width: 60px"
                                min="1"
                                name="position"
                            )
                            td

                        td 
                            if (item.status == "active")
                                a(
                                    href="javascript:;"
                                    data-status=item.status
                                    data-id=item._id
                                    button-change-status 
                                    class="state state--active"

                                    ) Hoạt động
                            else
                                a(
                                    href="javascript:;"
                                    data-status=item.status
                                    data-id=item._id
                                    button-change-status 
                                    class="state state--stop"
                                    ) Dừng hoạt động
                        
                        td
                            .combo
                                a(
                                    href=`${prefixAdmin}/products/detail/${item._id}`
                                    class="state state--detail"
                                    
                                ) Chi tiết
                                a(
                                    href=`${prefixAdmin}/products/edit/${item._id}`
                                    class="state state--tem"
                                    
                                ) Sửa
                                button(
                                    class="state state--stop"
                                    button-delete
                                    data-id=item._id
                                ) Xóa

        +pagination(pagination)

        form(
            action=""
            method="POST"
            id="form-change-status"
            data-path=`${prefixAdmin}/products/change-status`
        )

        form(
            action=""
            method="POST"
            id="form-delete-item"
            data-path=`${prefixAdmin}/products/delete`
        )

            

        script(src="/admin/js/product.js")